<html class=""><head>
    <title>The Living Tombstone Archive</title>
    <link rel="icon" type="image/x-icon" href="https://tlt-zero.one/Favicon.png">
    <meta name="title" content="The Living Tombstone Archive" />
    <meta name="description" content="Archives of all TLT related media, not affiliated with The Living Tombstone or any other TLT archives. We aren't profiting off of any works uploaded." />
    
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://tlt-zero.one/" />
    <meta property="og:title" content="The Living Tombstone Archive" />
    <meta property="og:description" content="Archives of all TLT related media, not affiliated with The Living Tombstone or any other TLT archives. We aren't profiting off of any works uploaded." />
    <meta property="og:image" content="https://tlt-zero.one/Favicon.png" />
    
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://tlt-zero.one" />
    <meta property="twitter:title" content="The Living Tombstone Archive" />
    <meta property="twitter:description" content="Archives of all TLT related media, not affiliated with The Living Tombstone or any other TLT archives. We aren't profiting off of any works uploaded." />
    <meta property="twitter:image" content="https://tlt-zero.one/Favicon.png" />
        <meta charset="UTF-8">     
<link rel="stylesheet" href="https://tlt-zero.one/style.css">
    </head>
    <div class="body">
    <body class="">
     <ul>
  <li><a href="https://tlt-zero.one">TLT</a></li>
        <li><a href="https://tlt-zero.one/discography">Discography</a></li>
        <li><a class="active" href="https://tlt-zero.one/misc">Misc</a></li>
  <li><a href="https://tlt-zero.one/downloads">Downloads</a></li>
        <li style="float:right"><a href="https://tlt-zero.one/credits">Credits</a></li>
        <li style="float:right"><a href="https://buymeacoffee.com/tlta">Support Us</a></li>
  <li style="float:right"><a href="mailto:contact.tltarchive@gmail.com">Contact</a></li>
</ul>
        <center>
        <img src="https://tlt-zero.one/TLTA_Logo.png" width="40%"> 
            <br>
            <h1> </h1> <!--The page name goes here. Example: if its the SugarVision page it would say "SugarVision"-->
        <br>
        <table>
                <tbody><tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Size</th>
                        <th>Release</th>
                </tr>
                <tr>
                    <td><</td>
                    <td><a href="https://tlt-zero.one/">Back</a></td> <!--Change the url to the previous page. example: if it was the badder times album it would link back to https://tlt-zero.one/sam_haft-->
                    <td></td>
                    <td></td>
                </tr>
    
       <tr>
                    <td><center><img src="https://tlt-zero.one/dir.png" width="24px"></center></td>
                    <td><a href="https://tlt-zero.one/example"><!--the url to the next album/song/etc goes inbetween the quotes--></a>Example page<!--The song/next pages name goes here inbetweent the <a>'s--></a></td>
                    <td></td><!--If its a file the size would go here, otherwise leave blank-->
                    <td>⠀⠀December 8th, 2023</td><!--The release date goes here, make sure to leave the "⠀⠀" though-->
                </tr>
<!--Now if theres another item on the page just copy the previous <tr> to </tr> and paste it again, replacing each respective thing with the new information-->

       <tr>
                    <td><center><img src="https://tlt-zero.one/dir.png" width="24px"></center></td>
                    <td><a href="https://tlt-zero.one/example"><!--the url to the next album/song/etc goes inbetween the quotes--></a>Example page<!--The song/next pages name goes here inbetweent the <a>'s--></a></td>
                    <td></td><!--If its a file the size would go here, otherwise leave blank-->
                    <td>⠀⠀December 8th, 2023</td><!--The release date goes here, make sure to leave the "⠀⠀" though-->
       </tr>
                
                    </center>
               <!--keep them inbetween these center tags and nothing else on the page needs to be changed!-->
        </tbody></table>
    </div>
    <div id="audd-recorder-marker" style="display: none;"></div>
        <a href="https://youtube.com/@TLTArchive"><img src="https://tlt-zero.one/youtube_logo.png" width="50px" height="50px" class="youtube"></a>
    </body></html>